body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
}


.days {
    text-align: center;
    list-style: none;
    font-size: 1.5rem;
    line-height: 3;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100px;
    padding: 0;
}

.days li {
  background-color: rgb(55, 77, 99);
  border: 1px solid rgb(86, 115, 145) ;
}